<div class="add_container">

  <div class="um_box">
    <app-fu-edit [elementId]="'my-editor'"
      (onEditorContentChange)="keyupHandler($event)">
    </app-fu-edit>
  </div>

  <!-- <div>{{testNumber | umberUnit:testun}}</div> -->
  <div *ppOne="testDirection"> 这是测试指令 </div>

  <div class="info_box">
    <div class="info_item">
      <p class="info_item_name">文章类别：</p>
      <div class="btn-group">
        <button type="button" style="width:90%" class="btn btn-default">{{articleInfo.type}}</button>
        <button type="button" style="width: 10%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" style="width:90%">
          <li *ngFor="let item of types" (click)="onType(item.id)">{{item.name}}</li>
        </ul>
      </div>
    </div>

    <div class="info_item">
      <p class="info_item_name">文章标题：</p>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="articleInfo.title" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="info_item">
      <p class="info_item_name">文章作者：</p>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="articleInfo.author" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="info_item desc_info">
      <p class="info_item_name">文章简介：</p>
      <div >
        <textarea name="" [(ngModel)]="articleInfo.desc" id="" cols="30" rows="3"></textarea>
      </div>
    </div>
      
      
  </div>

  <div class="bottom_btns">
    <div class="bottom_btn" (click)="goBack()">取消</div>
    <div class="bottom_btn" (click)="goSave()">保存</div>
  </div>
</div>
