<div class="mall_container">
  <div class="leftBody" id="left">
    <div class="item_box" *ngFor="let iteml of mallDatas">
      <div class="item_l" *ngIf="iteml.positionCon == 'left'">
        <img [src]="iteml.img" alt="">
        <p class="item_title">{{iteml.title}}</p>
        <div class="item_bottom">
          <span>{{iteml.author}}</span>
          <span>{{iteml.date}}</span>
        </div> 
      </div>   
    </div>
  </div>

  <div class="rightBody" id="right">
    <div class="item_box" *ngFor="let itemr of mallDatas" >
      <div class="item_r" *ngIf="itemr.positionCon == 'right'">
        <img [src]="itemr.img" alt="">
        <p class="item_title">{{itemr.title}}</p>
        <div class="item_bottom">
          <span>{{itemr.author}}</span>
          <span>{{itemr.date}}</span>
        </div> 
      </div>    
    </div>
  </div>
</div>